# =============================================
# Secretos
# =============================================
.env
.env.*

# =============================================
# Artefactos Rails
# =============================================
log/
tmp/
storage/
public/assets/
public/packs/
public/system/
vendor/bundle/
.bundle/
*.log

# =============================================
# Tests / Calidad
# =============================================
coverage/
spec/
test/

# =============================================
# Docker metadata
# =============================================
Dockerfile
.dockerignore

# =============================================
# Docs / IDE
# =============================================
**/*.md
.idea/
.vscode/
